body {
  padding: 10em;
  font-size: 16px;
}

#options {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 2em 1em;
  width: 500px;
  margin: 0 auto;
}

.option {
  grid-column: 1 / 2;
  align-self: center;
  justify-self: end;
  min-height: 2em;
  min-width: 2em;
}

label {
  grid-column: 2 / 3;
  align-self: center;
}

footer {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}