:root {
  --brand: #d53e4f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand: #66c2a5;
  }
  html {
    background: var(--gray-9);
    color: var(--gray-1);
  }
  h1 {
    text-shadow: 0 0 10px var(--brand);
  }
}

:where(html) {
  background: white;
  color: var(--gray-8);
  accent-color: var(--brand, var(--link));
  font-family: var(--font-sans);
}

body {
  padding: 10em;
  font-size: var(--font-size-2);
}

#options {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 2em 1em;
  width: 500px;
  margin: 0 auto;
}

.option {
  grid-column: 1 / 2;
  align-self: center;
  justify-self: end;
  min-height: 2em;
  min-width: 2em;
}

label {
  grid-column: 2 / 3;
  align-self: center;
}

header {
  grid-column: 1 / 3;
  display: flex;
}

h1 {
  font-size: var(--font-size-7);
  margin: 0;
}

footer {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-0);
}

a {
  color: var(--link, var(--brand));
}
