---
const { colors } = Astro.props;
const bgcolors = JSON.parse(colors).map(color => {
  return `background-color: ${color};`;
});
---

<style>
  div {
    display: flex;
    align-content: stretch;
  }

  span {
    content: '';
    width: 100%;
    height: 30px;
    box-sizing: border-box;
  }
</style>

<div>
  {bgcolors.map(style => (
    <span style={style}></span>
  ))}
</div>
